@media screen and (min-width: 767px) {
    .grid__description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    .description__item {
        align-self: center;
    }
}